<h1>Welcome to your homepage.</h1>
<section class="container">
    <article class="row">
        <!-- Trending hashtags -->
        <div class="border col-md-3">
            <h2>Trending</h2>
            <ul>
                <li><a href="">#texas</a></li>
                <li><a href="">#covid</a></li>
                <li><a href="">#love</a></li>
                <li><a href="">#tiktok</a></li>
            </ul>
        </div>

        <!-- Create a post -->
        <div class="col-md-9">
            <form action="/posts/create" method="POST">
                <fieldset class="border">
                    <legend class="w-auto">Create a post</legend>
                    <input type="text" id="txtPost" name="content" required class="form-control"
                        placeholder="What's on your mind?">
                </fieldset>
                <p>
                    <button type="submit" class="btn btn-primary">Post</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </p>
            </form>
        </div>

    </article>

    <article class="row">
        <!-- People you may know -->
        <fieldset class="border col-md-3">
            <legend class="w-auto">People you may know</legend>
            <!-- Profile 1 -->
            <div class="border rounded">
                <a href="">Elon Musk</a>
                <p>
                    <img class="rounded" src="images/profilepic1.jpg" alt="profilepic1" width=75 height="100">
                    <button type="submit" class="btn btn-light">Add</button>
                    <button type="submit" class="btn btn-light">Remove</button>
                </p>
            </div>
            <!-- Profile 2 -->
            <div class="border rounded">
                <a href="">McLovin'</a>
                <p>
                    <img class="rounded" src="images/profilepic2.jpg" alt="profilepic1" width=75 height="75">
                    <button type="submit" class="btn btn-light">Add</button>
                    <button type="submit" class="btn btn-light">Remove</button>
                </p>
            </div>
            <!-- Profile 3 -->
            <div class="border rounded">
                <a href="">Alan Turing</a>
                <p>
                    <img class="rounded" src="images/profilepic3.jpg" alt="profilepic3" width=75 height="75">
                    <button type="submit" class="btn btn-light">Add</button>
                    <button type="submit" class="btn btn-light">Remove</button>
                </p>
            </div>
        </fieldset>

        
        <div class="col-md-9">
            <fieldset class="border">
                <legend class="w-auto">Recent posts</legend>
                <form>

                    <% posts.forEach(post => { %>
                        <p> <%= post.content %></p>   
                    <% }); %>

                       

                            <!-- 
                    <a href="">Andy Le</a>
                    <div class="border rounded post">
                        <p>Yo fakebook is lit!!! 🔥</p>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-light">Like</button>
                        <button type="submit" class="btn btn-light">Comment</button>
                    </p>
                    
                    <a href="">Jacques Steyn</a>
                    <div class="border rounded post">
                        <p>I ❤️ HTML.</p>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-light">Like</button>
                        <button type="submit" class="btn btn-light">Comment</button>
                    </p>
                    
                    <a href="">J. Haadi Jafarian</a>
                    <div class="border rounded post">
                        <p>Hello class.</p>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-light">Like</button>
                        <button type="submit" class="btn btn-light">Comment</button>
                    </p>
                    
                     <a href="">Bill Gates</a>
                    <div class="border rounded post">
                        <p>I love using Linux/Unix operating systems!</p>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-light">Like</button>
                        <button type="submit" class="btn btn-light">Comment</button>
                    </p> -->
                </form>
            </fieldset>
        </div>
    </article>
</section>