<h1>Log in to your account.</h1>
<div class="container">
    <div class="signInBox">
        <img src="images/logo.jpg" alt="logo" class="signInLogo">
        <fieldset class="container">

            <form action="/login" method="POST">
                <div class="signInBoxesAndButtons">
                    <input type="text" name ="email" id="emailSignIn" required class="form-control" placeholder="myEmail@email.com">
                    <input type="password" name="password" id="passwordSignIn" required class="form-control" placeholder="Password">

                    <div class="signInButtons">


                        <button type="submit" class="btn btn-primary">Log In!</button>
                        <a href="/signup" class="btn btn-success">Create An Account</a>
                        <br>
                        <input type="checkbox" id="rememberCheck" class="form-check-input">
                        <label id="rememberMeLabel">remember me</label>

                        <br>
                        <% if (errorMessage) { %> 
                            <div id="errorAlert" class="alert alert-danger" role="alert">
                                <%= errorMessage %>
                            </div>
                        <% } %>
                        <a href="signin.html">Forgot Password??</a>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
