<h1>Welcome to your homepage.</h1>
<section class="container">
    <article class="row">
        <!-- Trending hashtags -->
        <div class="border col-md-3">
            <h2>Trending</h2>
            <ul>
                <li><a href="">#texas</a></li>
                <li><a href="">#covid</a></li>
                <li><a href="">#love</a></li>
                <li><a href="">#tiktok</a></li>
            </ul>
        </div>

        <!-- Create a post -->
        <div class="col-md-9">
            <form action="/posts/create" method="POST">
                <fieldset class="border">
                    <legend class="w-auto">Create a post</legend>
                    <input type="text" id="txtPost" name="content" required class="form-control"
                        placeholder="What's on your mind?">
                </fieldset>
                <p>
                    <button type="submit" class="btn btn-primary">Post</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </p>
            </form>
        </div>

    </article>

    <article class="row">
        <!-- People you may know -->
        <fieldset class="border col-md-3">
            <legend class="w-auto">People you may know</legend>
            <div class="usersDiv"></div>
        </fieldset>

        <div class="col-md-9">
            <fieldset class="border">
                <legend class="w-auto">Recent posts</legend>
                <form>
                    <div class="postsDiv"></div>

                    
                </form>
            </fieldset>
        </div>
    </article>
</section>